
table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

th {
background-color: #dddddd;
}

.background {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
.title {
    width: 849px;
    height: 98px;
    background: #84CBFF;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 6px;
    opacity: 1;
    position: absolute;
    top: 49px;
    left: 295px;
    overflow: hidden;
    font-size: 68px;
    font-family: 'Helvetica';
    color: black;
    text-align: center;
    line-height: 100px;

    }

.reBtn {
    width: 327px;
    height: 81px;
    background: #777777;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    font-size:40px;
    font-family: 'Helvetica';
    color: white;
    text-align: center;
    overflow: hidden;
    border-radius: 30px;
  }

  .reBtnS {
    width: 100px;
    height: 30px;
    background: #777777;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    font-size:20px;
    font-family: 'Helvetica';
    color: white;
    text-align: center;
    overflow: hidden;
    border-radius: 30px;
  }

.startBtn {
    width: 492px;
    height: 92px;
    background: rgba(40,152,233,1);
    opacity: 1;
    font-family: Helvetica;
    font-weight: Bold;
    font-size: 48px;
    text-align: center;
    position: absolute;
    color: black;
    border-radius: 30px;
    }

  .startBtnS {
    width: 100px;
    height: 30px;
    background: rgba(40,152,233,1);
    opacity: 1;
    font-family: Helvetica;
    font-weight: Bold;
    font-size: 20px;
    text-align: center;
    position: absolute;
    color: black;
    border-radius: 30px;
    }

.setBtn {
    width: 327px;
    height: 81px;
    background: rgba(219,219,219,1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    overflow: hidden;
    font-family: Helvetica;
    font-weight: 'Regular';
    font-size: 40px;
    text-align: center;
    position: absolute;
    color: black;
    border-radius: 30px;
}

.textTi {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 0px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}

.textTiSub {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 100px;
    left: 0px;
    font-family: Helvetica;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  


