<div>
  <link href="./layout.css" rel="stylesheet" />
  <div class="layout-container">
    <div class="layout-container1">
      <header data-role="Accordion" class="layout-header">
        <img
          alt="logo"
          src="public/playground_assets/%ED%99%94%EB%A9%B4%20%EC%BA%A1%EC%B2%98%202023-02-09%20233054-1500h.png"
          class="layout-image"
        />
        <div class="layout-separator"></div>
        <nav class="layout-nav">
          <nav class="navigation-links-nav navigation-links-root-class-name9">
            <span class="navigation-links-text"><span>설정하기</span></span>
            <span class="navigation-links-text1"><span>대상설정</span></span>
            <span class="navigation-links-text2"><span>파트고정</span></span>
            <span class="navigation-links-text3"><span>재배치</span></span>
          </nav>
        </nav>
        <div data-role="AccordionHeader" class="layout-accordion-header">
          <svg viewBox="0 0 1024 1024" class="layout-icon">
            <path
              d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
            ></path>
          </svg>
        </div>
        <div data-role="AccordionContent" class="layout-accordion-content">
          <div class="layout-nav1">
            <nav
              class="navigation-links3-nav navigation-links3-root-class-name20"
            >
              <span class="navigation-links3-text"><span>About</span></span>
              <span class="navigation-links3-text1"><span>Features</span></span>
              <span class="navigation-links3-text2"><span>Pricing</span></span>
              <span class="navigation-links3-text3"><span>Team</span></span>
              <span class="navigation-links3-text4"><span>Blog</span></span>
            </nav>
          </div>
        </div>
      </header>
    </div>
    <img
      alt="image"
      src="public/playground_assets/pexels-jeffrey-czum-2501965-1200w.jpg"
      class="layout-image1"
    />
    <div class="layout-container2">
      <footer class="layout-footer">
        <img
          alt="logo"
          src="public/playground_assets/%ED%99%94%EB%A9%B4%20%EC%BA%A1%EC%B2%98%202023-02-09%20233054-1500h.png"
          class="layout-image2"
        />
        <div class="layout-container3">
          <span class="layout-text">
            © 2023 Allocation, All Rights Reserved.
          </span>
        </div>
      </footer>
    </div>
  </div>
</div>
