<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://fonts.googleapis.com/css?family=Helvetica&display=swap" rel="stylesheet" /> -->
    <link rel="stylesheet" href="../resources/css/main.css" rel="stylesheet" type="text/css"/>
    <script src="../resources/js/mainLogic.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="background">
        <div class="title"><spen>레지던트 업무배치 프로그램</spen></div>
        <button class="startBtn" id="mainBtn" onclick="theSave()">설정하기</button>
        <button class="reBtn" id="setbtn01" onclick="openPopUpSetPeopel(0)">대상설정</button>
        <button class="reBtn" id="setbtn02" onclick="openPopUpSetPeopel(1)">파트고정</button>
        <button class="reBtn" id="resetBtn">재배치</button>
    </div>
</body>
<script type="text/javascript">
    //테스트 입력값
    //0달=3월 ~, 10달=1월, 12달=2월
    const fixMonth = new Map();
    const fixShift = new Map();

    const peopleNames= ['이름01','이름02','이름03','이름04','이름05','이름06','이름07','이름08','이름09','이름10','이름11','이름12','이름13'];
    let nameSetyetfirst = true;
    let fixSetyetfirst = true;

    function openPopUpSetPeopel(val)
    {
        var options = 'width=800px, height=800px, top=30, left=30, resizable=no, scrollbars=yes, location=no, status=no';

        if(val==0)
        {
            let url01 = "set01.html";
            if(nameSetyetfirst)
            {
                url01 = url01 + "?first=true";
                nameSetyetfirst = false;
            }
            else
            {
                let strparam = encodeURI(peopleNames.join("^^"));
                url01 = url01 + "?"+"first=false&" + "param="+strparam;
            }
            window.open(url01, "대상설정", options);


        }
        else if(val ==1)
        {
            let url02 = "set02.html";
            if(fixSetyetfirst)
            {
                url02 = url02 + "?first=true";
                let strparam = encodeURI(peopleNames.join("^^"));
                url02 = url02 + "&param="+strparam;
                fixSetyetfirst = false;
            }
            else
            {
                url02 = url02 + "?"+"first=false"
                let strparam = encodeURI(peopleNames.join("^^"));
                strparam = "&name="+strparam;
                
                let monthsTmp = Array.from(fixMonth.keys());
                let shiftsTmp = Array.from(fixShift.keys());
                strparam = strparam + "&fixMonthKey=" + encodeURI(monthsTmp.join("^^"));
                strparam = strparam + "&fixShiftKey=" + encodeURI(shiftsTmp.join("^^"));

                monthsTmp = Array.from(fixMonth.values());
                shiftsTmp = Array.from(fixShift.values());
                strparam = strparam + "&fixMonthVal=" + encodeURI(monthsTmp.join("^^"));
                strparam = strparam + "&fixShiftVal=" + encodeURI(shiftsTmp.join("^^"));

                url02 = url02+strparam;
            }
            window.open(url02, "픽스설정", options);
        }

    }

    //대상설정에서 온 이름값을 배열에 저장한다
    function setPeoples(arr)
    {
        for(let i=0;i<arr.length;i++)
        {
            peopleNames[i] = arr[i];
        }
    }

    function setfixs(monMap, sftMap)
    {
        fixMonth.clear();
        let monKeys = Array.from(monMap.keys());
        let monVal = Array.from(monMap.values());
        monKeys = monKeys.map((i)=>Number(i));
        monVal = monVal.map((i)=>Number(i));
        for(let i=0;i<monKeys.length;i++)
        {
            fixMonth.set(monKeys[i],monVal[i]);
        }

        fixShift.clear();
        let sftKeys = Array.from(sftMap.keys());
        let sftVal = Array.from(sftMap.values());
        sftKeys = sftKeys.map((i)=>Number(i));
        sftVal = sftVal.map((i)=>Number(i));
        for(let i=0;i<sftKeys.length;i++)
        {
            fixShift.set(sftKeys[i],sftVal[i]);
        }
    }

</script>
<style>
  #setbtn01 {
      top: 224px;
      left: 300px;
  }

  #setbtn02 {
      top: 224px;
      left: 800px;
  }

  #resetBtn {
    top: 600px;
    left: 79px;
  }

  #mainBtn{
    top: 403px;
    left: 474px;
  }

</style>
</html>