<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../resources/css/main.css" rel="stylesheet" type="text/css">
    <script src="../../resources/js/mainLogic.js"></script>
    <title>대상설정</title>
</head>
<body>
    <div>
        <div class="textTi"><spen>대상 설정</spen></div>
        <div class="textTiSub"><spen>업무를 배치할 사람의 이름을 설정한다</spen></div>
        <button class="reBtnS" id="endBtn" onclick="ending()">종료</button>
        <button class="reBtnS" id="resetBtn" onclick="reseting()">재설정</button>
    </div>

    <div>
        <form name="inputForm" id="inputForm" methodh="get" onsubmit="retrunSetVal()">
            <button class="startBtnS" id="mainBtn" onclick="retrunSetVal()">설정완료</button>

            <div id="indexNum01">
                <span>01 </span>
                <input id="nameinput01" class="nameinput" type="text" value="이름1">
                <span>(723)</span>
                <br><br>

                <span>02 </span>
                <input id="nameinput02" class="nameinput" type="text" value="이름2">
                <span>(723)</span>
                <br><br>

                <span>03 </span>
                <input id="nameinput03" class="nameinput" type="text" value="이름3">
                <span>(723)</span>
                <br><br>

                <span>04 </span>
                <input id="nameinput04" class="nameinput" type="text" value="이름4">
                <span>(723)</span>
                <br><br>

                <span>05 </span>
                <input id="nameinput05" class="nameinput" type="text" value="이름5">
                <span>(723)</span>
                <br><br>

                <span>06 </span>
                <input id="nameinput06" class="nameinput" type="text" value="이름6">
                <span>(723)</span>
                <br><br>

                <span>07 </span>
                <input id="nameinput07" class="nameinput" type="text" value="이름7">
                <span>(723)</span>
                <br><br>

                <span>08 </span>
                <input id="nameinput08" class="nameinput" type="text" value="이름8">
                <span>(723)</span>
            </div>

            <div id="indexNum02">
                <span>09 </span>
                <input id="nameinput09" class="nameinput" type="text" value="이름9">
                <span>(813)</span>
                <br><br>

                <span>10 </span>
                <input id="nameinput10" class="nameinput" type="text" value="이름10">
                <span>(813)</span>
            <br><br><br>
                <span>11 </span>
                <input id="nameinput11" class="nameinput" type="text" value="이름11">
                <span>(822)</span>
                <br><br>

                <span>12 </span>
                <input id="nameinput12" class="nameinput" type="text" value="이름12">
                <span>(822)</span>
                <br><br>

                <span>13 </span>
                <input id="nameinput13" class="nameinput" type="text" value="이름13">
                <span>(822)</span>
            </div>
            

        </form>

    </div>
</body>
<script>

    
    let windowPeople=[];

    window.onload = openstart;
    function openstart()
    {
        let strparam = getParameter();

        if(false != strparam)
        {
            windowPeople= strparam;
            reseting();
        }
        else
        {
            //첫 세팅 화면 진입 경우, 초기값을 배열로 삼는다
            for(let i=0; i<13; i++)
            {
                let compNum = i+1;
                let componentId = "nameinput0"+compNum;
                if(compNum>9)
                {
                    componentId="nameinput"+compNum;
                }
                windowPeople.push(document.getElementById(componentId).value);   
            }
        }
    }

    function reseting()
    {
        let people = [...windowPeople];

        for(let i=0; i<people.length; i++)
        {
            let compNum = i+1;
            let componentId = "nameinput0"+compNum;
            if(compNum>9)
            {
                componentId="nameinput"+compNum;
            }
            document.getElementById(componentId).value = people[i];   
        }

        windowPeople = [...people];
    }

    function retrunSetVal()
    {
        let peopleArr =[];
        for(let i=0; i<13; i++)
        {
            let compNum = i+1;
            let componentId = "nameinput0"+compNum;
            if(compNum>9)
            {
                componentId="nameinput"+compNum;
            }
            let getValue = document.getElementById(componentId).value;
            windowPeople[i] = getValue;
            
        }
        peopleArr = [...windowPeople];
        window.opener.setPeoples(peopleArr);
        window.close();
    }

    function ending()
    {
        window.close();
    }

    function getParameter() 
    {
        let url = decodeURI(location.search);
        let urls = url.split("&");
        let firstedChek = urls[0].split("=");
        if(firstedChek[1]==true || firstedChek[1]=="true")
        {
            return false;
        }
        else
        {
            urls = urls[1].split("=");
            let urlsArr=urls[1].split("^^");
            return urlsArr;
        }

        return false;
    }





</script>
<style>

    #indexNum01 {
        top: 250px;
        left: 60px;
        position: absolute;
    }

    #indexNum02 {
        top: 250px;
        left: 350px;
        position: absolute;
    }

    #mainBtn {
        top: 150px;
        left: 50px;
    }
  
    #endBtn {
        top: 50px;
        left: 50px;
    }
  
    #resetBtn {
        top: 90px;
        left: 50px;
    }
  
</style>

</html>